In [219]:
import pandas as pd

In [220]:
df = pd.read_csv('vehicle_safety_info.csv')
types = pd.read_csv('models.csv')

In [221]:
stars = pd.Series(df.columns[df.columns.str.contains('STAR')])
nhtsa = pd.Series(df.columns[df.columns.str.contains('NHTSA')])
other_cols = pd.Series(['MODEL_YR', 'MAKE', 'MODEL', 'MMY', 'VEHICLE_ID'])
cols_to_keep = pd.concat([other_cols, stars, nhtsa])

df = df[cols_to_keep]

In [222]:
df = pd.merge(df, types, on = 'MODEL')

In [223]:
df = df[(df.OVERALL_FRNT_STARS != 'Not Rated') & (df.OVERALL_STARS != 'Not Rated')]

In [242]:
brands_to_keep = ['ACURA', 'AUDI', 'BMW', 'FORD', 'GENESIS', 'HONDA', 'HYUNDAI', 'INFINITI', 'MAZDA', 'MERCEDES-BENZ', 'MINI', 'NISSAN', 'PORSCHE','SUBARU', 'TESLA', 'VOLKSWAGEN', 'VOLVO']
types_to_keep = ['SUV', 'Hatch', 'EV']

In [243]:
filter_df = df[(df.MAKE.isin(brands_to_keep)) & df.TYPE.isin(types_to_keep)]
print 'REMOVING BRANDS:'
print list(set(df.MAKE.unique()) - set(brands_to_keep))

def cleaner(x):
    x = pd.to_numeric(x, errors = 'ignore')
    return x
    
filter_df = filter_df.apply(cleaner, 0)

min_stars = 5

# CONSOLIDATE VEHICLES WHERE RATINGS ARE IDENTICAL ACROSS TRIMS
cols = filter_df.columns.drop(['VEHICLE_ID', 'MMY'])
filter_df = filter_df[cols].drop_duplicates()

# DETERMINE VEHICLES THAT DON'T MEET SAFETY CRITERIA
ruled_out = filter_df[filter_df.OVERALL_STARS < min_stars]
print 'RULING OUT:'
print ruled_out[['MODEL_YR', 'MAKE', 'MODEL']]

filter_df = filter_df[filter_df.OVERALL_STARS >= min_stars]

REMOVING BRANDS:
['DODGE', 'FIAT', 'LINCOLN', 'BUICK', 'JEEP', 'CHEVROLET', 'RAM', 'TOYOTA', 'GMC', 'CHRYSLER', 'CADILLAC', 'KIA', 'MITSUBISHI', 'LEXUS', 'SMART']
RULING OUT:
      MODEL_YR        MAKE        MODEL
60        2017        AUDI           Q5
85        2017        AUDI          SQ5
416       2018        FORD     CMAX HEV
417       2017        FORD     CMAX HEV
474       2017        FORD       FIESTA
899       2018       MAZDA         CX-5
901       2017       MAZDA         CX-5
1003      2018        MINI      HARDTOP
1005      2017        MINI      HARDTOP
1048      2018      NISSAN        ROGUE
1050      2017      NISSAN        ROGUE
1327      2017  VOLKSWAGEN       TIGUAN
1404      2017        FORD  CMAX ENERGI
1472      2017      NISSAN       MURANO

In [247]:
print filter_df[['MODEL_YR', 'MAKE', 'MODEL']]

      MODEL_YR        MAKE          MODEL
2         2018       ACURA            MDX
4         2017       ACURA            MDX
8         2018       ACURA            RDX
10        2017       ACURA            RDX
27        2018        AUDI             A3
31        2017        AUDI             A3
61        2018        AUDI             Q7
70        2018        AUDI             S3
71        2017        AUDI             S3
195       2018         BMW             X5
197       2017         BMW             X5
420       2018        FORD           EDGE
422       2017        FORD           EDGE
424       2018        FORD         ESCAPE
426       2017        FORD         ESCAPE
430       2017        FORD     EXPEDITION
431       2017        FORD     EXPEDITION
434       2017        FORD  EXPEDITION EL
435       2017        FORD  EXPEDITION EL
436       2018        FORD       EXPLORER
438       2017        FORD       EXPLORER
480       2018        FORD          FOCUS
482       2017        FORD          FOCUS
486       2018        FORD       FOCUS RS
487       2017        FORD       FOCUS RS
619       2018       HONDA           CR-V
621       2017       HONDA           CR-V
623       2018       HONDA            FIT
624       2017       HONDA            FIT
625       2018       HONDA           HR-V
...        ...         ...            ...
1213      2018      SUBARU      CROSSTREK
1214      2017      SUBARU      CROSSTREK
1215      2018      SUBARU       FORESTER
1216      2017      SUBARU       FORESTER
1223      2018      SUBARU        OUTBACK
1224      2017      SUBARU        OUTBACK
1301      2018  VOLKSWAGEN          ATLAS
1309      2018  VOLKSWAGEN           GOLF
1310      2017  VOLKSWAGEN           GOLF
1311      2018  VOLKSWAGEN       GOLF GTI
1312      2017  VOLKSWAGEN       GOLF GTI
1313      2017  VOLKSWAGEN       GOLF GTI
1314      2018  VOLKSWAGEN         GOLF R
1315      2017  VOLKSWAGEN         GOLF R
1363      2018       VOLVO        XC90 T5
1365      2017       VOLVO        XC90 T5
1367      2018       VOLVO        XC90 T6
1369      2017       VOLVO        XC90 T6
1371      2018       VOLVO        XC90 T8
1372      2017       VOLVO        XC90 T8
1380      2017         BMW             X3
1426      2017     HYUNDAI       VELOSTER
1429      2017    INFINITI    QX60 HYBRID
1471      2017      NISSAN         MURANO
1498      2017       TESLA    MODEL X 60D
1499      2017       TESLA    MODEL X 75D
1500      2017       TESLA    MODEL X 90D
1501      2017       TESLA  MODEL X P100D
1502      2017       TESLA   MODEL X P90D
1508      2017       VOLVO           XC60

[78 rows x 3 columns]

In [252]:
df[(df.MAKE == 'VOLVO') & (df.MODEL_YR == 2018) & (df.TYPE == 'SUV')]

,MODEL_YR,MAKE,MODEL,MMY,VEHICLE_ID,OVERALL_STARS,OVERALL_FRNT_STARS,FRNT_DRIV_STARS,FRNT_PASS_STARS,OVERALL_SIDE_STARS,...,SIDE_PASS_STARS,ROLLOVER_STARS,ROLLOVER_STARS_2,SIDE_POLE_STARS,NHTSA_ESC,NHTSA_FRNT_COLLISION_WARNING,NHTSA_LANE_DEPARTURE_WARNING,NHTSA_BACKUP_CAMERA,Unnamed: 0,TYPE
1363,2018,VOLVO,XC90 T5,2018 Volvo XC90 T5 SUV AWD,12066,5,5,5,5,5,...,5,4,Not Rated,5,NaN,Standard,Standard,NaN,459,SUV
1367,2018,VOLVO,XC90 T6,2018 Volvo XC90 T6 SUV AWD,12067,5,5,5,5,5,...,5,4,Not Rated,5,NaN,Standard,Standard,NaN,460,SUV
1371,2018,VOLVO,XC90 T8,2018 Volvo XC90 T8 SUV AWD,12069,5,5,5,5,5,...,5,4,Not Rated,5,NaN,NaN,NaN,NaN,461,SUV

In [253]:
stars

0         OVERALL_STARS
1    OVERALL_FRNT_STARS
2       FRNT_DRIV_STARS
3       FRNT_PASS_STARS
4    OVERALL_SIDE_STARS
5       SIDE_DRIV_STARS
6       SIDE_PASS_STARS
7        ROLLOVER_STARS
8      ROLLOVER_STARS_2
9       SIDE_POLE_STARS
dtype: object

In [256]:
df.columns

Index([u'MODEL_YR', u'MAKE', u'MODEL', u'MMY', u'VEHICLE_ID', u'OVERALL_STARS',
       u'OVERALL_FRNT_STARS', u'FRNT_DRIV_STARS', u'FRNT_PASS_STARS',
       u'OVERALL_SIDE_STARS', u'SIDE_DRIV_STARS', u'SIDE_PASS_STARS',
       u'ROLLOVER_STARS', u'ROLLOVER_STARS_2', u'SIDE_POLE_STARS',
       u'NHTSA_ESC', u'NHTSA_FRNT_COLLISION_WARNING',
       u'NHTSA_LANE_DEPARTURE_WARNING', u'NHTSA_BACKUP_CAMERA', u'Unnamed: 0',
       u'TYPE'],
      dtype='object')

In [257]:
len(stars)

10